.dashboard {
  display: table;
  width: 100%;
  
  .btn {
    display: table-cell;
    vertical-align: middle;
    border: none;
    border-left: 1px solid #fff;
    background: #ccc;
    color: #fff;
    height: 60px;
    text-align: center;
    font-size: 36px;
    text-decoration: none;
    
    &:first-child {
      border-left-color: #ccc;
    }
    &:hover,
    &:focus,
    &:active {
      background: #666;
      outline: none;
    }
  }
  
  .fa {
    text-align: center;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    margin: 0 0 - $header-height;
  }
}
