.btn-full {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 20px;
  border: 0;
  background: yellowgreen;
  color: #fff;
}

//.remove-recipe {
//  background: #c00;
//}