@include bp(xxs) {
  img {
    width: 100%;
    height: auto;
  }
}

[class*='col-'] {
  img {
    max-width: 100%;
    height: auto;
  }
}

.full-width {
  width: 100%;
  height: auto;
}

.fixed-width {
  width: auto !important;
  height: auto !important;
}
