.search-input,
.full-input {
  width: 100%;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: none;
}

//.selectbox {
//  border: 1px solid $gray;
//  margin-bottom: 1.5em;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//  height: 3.5em;
//  
//  select {
//    border: none;
//    background: transparent;
//    height: 3.5em;
//    line-height: 3.5em;
//    width: 120%;
//    margin: 0;
//    padding-left: 1em;
//    @include appearance(none);
//    position: relative;
//    z-index: 1;
//    
//    &:focus {
//      outline: 0;
//    }
//  }
//  
//  .fa {
//    position: relative;
//    z-index: 0;
//    float: right;
//    top: 0;
//    right: 1em;
//    height: 3.5em;
//    line-height: 3.5em;
//    margin-bottom: -3.5em;
//  }
//}