.table {
  margin: 0;
  border-bottom: 1px solid #ddd;
  table-layout: fixed;
}
p + .table,
div + .table,
.table + p,
.table + div {
  margin-top: 2em !important;
}
.table-no-border {
  th, td {
    border: none !important;
  }
}